---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
---

<Layout>
  <main>
    <Hero />
    <Features />
  </main>

  <style></style>
</Layout>
