---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import Integrations from 'src/components/Integrations.astro'
---

<Layout>
  <main>
    <Hero />
    <Features />
    <Integrations />
  </main>

  <style></style>
</Layout>
