---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import Integrations from 'src/components/Integrations.astro'
import FAQ from 'src/components/FAQ.astro'
---

<Layout>
  <main>
    <Hero />
    <Features />
    <Integrations />
    <FAQ />
  </main>

  <style>
    main {
      overflow: hidden;
    }
  </style>
</Layout>
