---
export type Props = {
  align?: 'start' | 'center' | 'end'
}

let { align = 'center' } = Astro.props
---

<li class={`card ${align}`}>
  <div class="header">
    <slot name="header" />
  </div>
  <div class="body">
    <slot name="body" />
  </div>
  <div class="footer">
    <slot name="footer" />
  </div>
</li>

<style>
  .card {
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-5);
    display: grid;
    text-align: center;
    gap: var(--size-5);

    @media (--OSdark) {
      background-color: var(--surface-2);
    }
  }

  .start {
    text-align: start;
  }

  .end {
    text-align: end;
  }

  .header {
    padding: var(--size-7) var(--size-7) 0;
  }

  .body {
    padding: 0 var(--size-7);
  }

  .footer {
    padding: var(--size-5);
  }

  .footer {
    background: url(/bg-dots.svg);
    background-repeat: repeat-x;
  }
</style>
